body{
	background: rgba(250, 250, 250, 1);
	margin:0;
	padding:0;
	font-family:Tahoma, Geneva, sans-serif;
}

#top_bar{
	background: rgba(115, 115, 115, 1);
	margin:0px;
	overflow:hidden;
	width:100%;
	clear:right;
	margin-bottom:0.5em;
}

#top_bar_top{
	width:100%;
	clear:right;
}

#logo{
	margin:0.5em;
	margin-left:0.2em;
	height:3.5em;
	float:left;
	margin-bottom:0em;
}

#searchBar{
	float:left;
	width:55%;
	height:2em;
	margin-left:4.8em;
	margin-top:1.1em;
	margin-bottom:0em;
}

#shoppingCart{
	float:right;
	margin:1em;
	margin-bottom:0em;
}

#cartText{
	float:left;
	font-size:1.25em;
	color: #111111;
	text-align:center;
	font-weight:bold;
	padding-top:0.4em;
	margin-left:0.7em;
}

#cartText:hover{
	text-decoration:underline;
	cursor:pointer;
}

#emptyCart{
	border-radius:2em;
	font-weight:bold;
	color:white;
	background-color:black;
	float:left;
	width:2em;
	height:2em;
	text-align:center;
	font-size:1.2em;
	padding:0em;
	vertical-align: middle;
    line-height: 2em;	
}

#searchText{
	float:left;
	width:85%;
	height:100%;
	background-color:#fefefe;
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
	font-size:1.1em;
	box-sizing:border-box;
	padding-left:1.2em;
	border-style:hidden;
	
}

#searchButton{
	float:left;
	width:10%;
	height:100%;
	background-color: #e8e8e8;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	font-size:1.5em;
	text-align:center;
	border-style:hidden;
}

#searchButton:hover{
	background-color:#d7d7d7;
}

#languageContainer{
	float:right;
	height:1.7em;
	margin:1.7em;
	margin-bottom:0em;
}

#flag{
	float:left;
	height:60%;
	margin-right:0.5em;
}

#flagName{
	float:left;
	height:100%;
	color:#222222
}

#flagName:hover{
	text-decoration:underline;
	cursor:pointer;
}

#top_bar_bottom{
	padding-top:0.1em;
	padding-bottom:0.2em;
	width:100%;
	float:left;
	border:10px 10px;
}

.genericTopBarLinks{
	color:#151515;
}

#categoryName{
	float:left;
	margin-left:1.7em;
	border-style:solid;
	border-width:1px;
	border-color:rgba(115,115,115,1);
	border-radius:5px;
	padding:0.1em;
}

#categoryName:hover{
	border-color:#bbbbbb;
	cursor:default;
}

#linkArray{
	float:left;
	margin-left:7.1em;
}

.arrayLink{
	margin-right:2.5em;
}

.arrayLink:hover{
	text-decoration:underline;
	cursor:pointer;
}

#accountLinks{
	float:right;
	margin-right:1.5em;
}

.accountLink{
	margin-left:0.3em;
	margin-right:0.3em;
}

.accountLink:hover{
	text-decoration:underline;
	cursor:pointer;
	color:black;
}

#mainContainer{
	float:left;
	width:30%;
}

#titleContainer{
	width:100%;
	float:left;
	clear:right;
}

#objectName{
	font-size:1.7em;
	float:left;
	text-align:center;
	margin-left:1.15em;
	margin-bottom:0.345em;
}

#favorites{
	height:2.5em;
	float:left;
	margin-left:0.7em;
	margin-top:0.7em;
	margin-bottom:0em;
}

#briefDescription{
	float:left;
	margin:2em;
	margin-right:0.5em;
	margin-top:0;
	text-align:justify;
	clear:right;
	margin-bottom:1.5em;
}

#purchaseBox{
	background-color:#151515;
	float:left;
	border-radius:30px;
	margin-left:2em;
	width:23em;
}

#priceBox{
	float:left;
	margin-left:2.5em;
	margin-top:1.1em;
}

#oldPrice{
	text-decoration: line-through;
	font-size:1.6em;
	color:#a7a7a7;
}

#discountedPrice{
	color:#fa2b0a;
	font-size:2.4em;
	margin-left:0.8em;
}

#shippingPrice{
	float:left;
	clear:left;
	margin-left:7em;
	color:#616161;
	text-decoration:underline;
}

#shippingPrice:hover{
	color:#b6b6b6;
	cursor:help;
}

#numberBox{
	float:left;
	clear:left;
	margin:1.5em;
	margin-left:2em;
	width:10%;
}

#plusNumberOfItems{
	float:left;
	border-style:hidden;
	width:100%;
	font-size:1.4em;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
	background-color:white;
	color:#151515;
}

#plusNumberOfItems:hover{
	background-color:#a7a7a7;
}

#numberOfItems{
	float:left;
	clear:left;
	width:100%;	
	box-sizing:border-box;
	text-align:center;
	font-size:1.4em;
	background-color:white;
	border-style:hidden;
	color:#151515;
}

#minusNumberOfItems{
	float:left;
	clear:left;
	border-style:hidden;
	width:100%;
	font-size:1.4em;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	background-color:white;
	color:#151515;
}

#minusNumberOfItems:hover{
	background-color:#a7a7a7;
}

#buyButtonsContainer{
	float:left;
	width:60%;
	margin-top:1.5em;
}

.purchaseButton{
	float:left;
	clear:left;
	border-style:hidden;
	width:100%;
	text-align:center;
	margin:1.1em;
	margin-top:0;
	border-radius:10px;
	font-size:1.2em;
	margin-left:1em;
	padding:0.2em;
}

#addToCart{
	background-color:#fa2b0a;
	color:white;
}

#addToCart:hover{
	background-color:#ff2300;
	cursor:pointer;
}

#buyNow{
	margin-bottom:1.2em;
	background-color:white;
	color:#151515;
}

#buyNow:hover{
	background-color:#dfdfdf;
	cursor:pointer;
}

#canvasContainer{
	float:right;
	width:69%;
	margin-top:1em;
}

#canvas{
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	clear:right;
	float:left;
}

#canvasButtonsContainer{
	float:left;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	height:4em;
	width:915px;
	background-color:rgba(115, 115, 115, 1);
}

#canvasButtonTitle{
	float:left;
	margin:1em;
	margin-left:2em;
	margin-right:0.5em;
	font-size:1.3em;
}

.canvasButton{
	float:left;
	border-style:hidden;
	margin:1em;
	margin-top:0.6em;
	background-color: #242424;
	color:#707070;
	border-radius:3px;
	font-size:1.3em;
	padding:0.3em;
}

#materialButtonLenses{
	float:right;
	margin-right:2em;
}

.canvasButton:hover{
	cursor:pointer;
	color:white;
	background-color: #050505;
}

#descriptionAndReviewsContainer{
	float:left;
	margin-top:1.5em;
}

#longDescription{
	float:left;
	width:60%;
	padding:1.5em;
	padding-top:0em;
	box-sizing:border-box;
	margin-left:0em;
	text-align:justify;
}

#reviewsContainer{
	float:left;
	width:39%;
	background-color:rgb(255,131,0,0.3);
	box-sizing:border-box;
	padding:1em;
	padding-top:0.8em;
}

#starsContainer{
	float:left;
	clear:left;
	margin-left:0.7em;
}

#starsContainer .star{
	height:1.9em;
}

.star{
	height:1.7em;
}

#reviewTitle{
	float:left;
	clear:left;
	font-weight:bold;
	margin-left:1em;
	font-size:1.2em;
	margin-bottom:0.3em;
}

#reviewPreviewBlock{
	float:left;
	clear:left;
	border-radius:2px;
}

.review{
	font-size:0.8em;
	background-color:rgb(255,255,255,0.4);
	padding:0.5em;
	margin:0.3em;
	margin-bottom:1.2em;
	box-sizing:border-box;
	color:#151515;
	overflow:hidden;
	border-radius:2px;
}

.reviewName{
	font-size:1.1em;
	font-weight:bold;
	float:left;
	color:black;
}

.reviewName:hover{
	text-decoration:underline;
	cursor:pointer;
}

.reviewAuthor{
	float:left;
	clear:left;
	font-style:italic;
}

.reviewStars{
	float:left;
	clear:left;
}

.reviewText{
	float:left;
	clear:left;
	color:rgba(115, 115, 115, 1);
	text-align:justify;
}

#seeMoreReviews{
	float:left;
	clear:left;
	font-weight:bold;
	font-size:0.9em;
	color:#151515;
}
#seeMoreReviews:hover{
	cursor:pointer;
	text-decoration:underline;
	color:black;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
	float:left;
	clear:left;
	margin-left:2.5%;
	margin-top:1.5em;
}

#otherProducts{
	float:left;
	clear:left;
	background-color:rgb(255,220,0,0.3);
	margin-top:1em;
	margin-left:3%;
	padding:1em;
	width:90%;
	overflow:hidden;
}

#otherProductsTitle{
	float:left;
	clear:right;
	font-size:1.2em;
	font-weight:bold;
	margin-right:70%;
	color:#151515;
	margin-left:0.3em;
}

.otherProductContainer{
	float:left;
	background-color:rgb(255,131,0,0.2);
	padding:0.7em;
	margin:0.5em;
	border-radius:3px;	
	color:rgba(115, 115, 115, 1);
	margin-top:0.8em;
	margin-bottom:0em;
}

.otherProductContainer:hover{
	background-color:rgb(255,131,0,0.4);
	cursor:pointer;
	text-decoration:underline;
	color:#151515;
}

.otherProductImage{
	width:10em;
	border-radius:2px;
}

.otherProductName{
	text-align:center;
	margin:0.1em;
	font-size:0.9em;
	font-weight:bold;
}

#footer{
	float:left;
	width:100%;
	box-sizing:border-box;
	text-align:center;
	background: rgba(115, 115, 115, 1);
	margin-top:1.7em;
	padding:0.7em;
}

#AcmeName:hover{
	text-decoration:underline;
	cursor:pointer;
}